body {
 background-color: #6EB1FF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2 {
text-align: center;
}

p {
color: white;
font-family: "Times New Roman", Times, serif;
}
